.about-us {
    margin: 0 250px;
    display: flex;
    justify-content: space-evenly;
    gap: 68px;

    .about-us-left {
        width: 100%;
        height: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .about-us-right {
        display: flex;
        flex-direction: column;

        &__title {
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 24px;
        }

        &__desc {
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #3B3B3B;
            margin-bottom: 24px;
        }

        .about-us-rigth-list {
            padding-left: 20px;

            .item {
                list-style: disc;
                font-weight: 400;
                font-size: 16px;
                line-height: 190%;
                color: #3B3B3B;
            }
        }
    }
}

@media (min-width: 320px) and (max-width:425px) {
    .about-us {
        margin: 0 20px;

        .about-us-left {
            display: none;
        }

        .about-us-right {

            &__title {
                text-align: center;
                font-size: 30px;
            }
        }
    }
}

@media (min-width: 426px) and (max-width:768px) {

    .about-us {
        margin: 0 20px;
        flex-direction: column-reverse;
        gap: 30px;
    }
}