.about-us {
    width: 100%;
    height: 80vh;
    background-position: cover;
    background-repeat: no-repeat;
    background-image: url('/src/assets/backgrounds/pexels-emmanuel-ikwuegbu-8005368.jpg');
    filter: saturate(30%);
    color: #fff;

    &__title {
        text-align: center;
        padding: 100px 0;
        font-size: 50px;
        font-weight: 600;
    }

    .about-us-desc {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 20px 293px;

        &__text {
            font-size: 25px;
            line-height: 45px;
        }

        &__subtext {
            padding: 50px 0;
            line-height: 35px;
            font-size: 20px;
        }
    }
}