.footer {
    background: #313131;
    color: #fff;
    padding: 68px 0 12px;

    .flex-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .flex-box-social {
            display: flex;
            flex-direction: column;

            .logo {
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 20px;
            }

            .media-title {
                font-weight: 600;
                font-size: 14px;
                line-height: 150%;
                text-transform: capitalize;
            }

            .media-flex {
                display: flex;
                justify-content: flex-start;

                .media-flex-item {
                    align-items: center;
                    margin: 15px 15px 0 0;
                    transition: 0.2s ease all;
                }

                .media-flex-item:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }

            .copyright {
                font-weight: 400;
                font-size: 9px;
                line-height: 9px;
                letter-spacing: 0.183333px;
            }
        }

        .flex-box-products-container {
            display: flex;
            gap: 30px;

            .flex-box-products {
                display: flex;
                flex-direction: column;
            }
        }

        .products-title {
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            text-transform: capitalize;
        }

        .products-list {

            .products-list-item {
                font-weight: 400;
                font-size: 14px;
                line-height: 200%;
                text-transform: capitalize;
                color: #A4A4A4;
                transition: all 0.2s ease;
            }

            .products-list-item:hover {
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .flex-box-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        grid-gap: 15px;

        .grid-item {
            transition: all 0.3s ease-in-out;
            max-width: 106px;
            max-height: 96px;
            border-radius: 10px;
            overflow: hidden;

            img {
                transition: 0.5s ease-in-out;
                width: 100%;
                object-fit: cover;
            }

            img:hover {
                cursor: pointer;
                transform: scale(1.15);
            }
        }
    }
}

@media (min-width: 320px) and (max-width:425px) {

    .footer {
        padding: 20px;

        .flex-box {
            flex-direction: column-reverse;
            gap: 25px;

            .flex-box-products-container {
                display: flex;
                justify-content: space-around;
                gap: 50px;

                .flex-box-products:nth-child(2) {
                    text-align: end;
                }
            }


            .flex-box-social {
                text-align: center;

                .media-flex {
                    justify-content: center;
                    gap: 20px;

                    .media-flex-item {
                        margin: 0;
                    }
                }
            }
        }

    }
}

@media (min-width: 426px) and (max-width:768px) {
    .footer {
        padding: 20px 0;

        .flex-box {
            margin: 0 20px;
            gap: 30px;
        }

        .flex-box-grid {
            display: none;
        }
    }
}