.products {
    margin-top: 100px;
    width: 100%;
    background: #111010;
    color: #fff;

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        padding: 70px 0;
    }

    .products-grid {
        display: grid;
        grid-gap: 26px;
        text-align: center;
        padding: 0 230px 61px;

        .products-grid-item {
            position: relative;

            img {
                border-radius: 20px;
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            .products-desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                height: 25%;
                bottom: 0;
                left: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(17, 16, 16, 0) 0%, rgba(17, 16, 16, 0.74) 85%);
                backdrop-filter: blur(1.5px);
                /* Note: backdrop-filter has minimal browser support */
                border-radius: 0px 0px 20px 20px;
                transition: all 0.4s ease;

                .products-name {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 24px;
                    transition: all 0.6s ease-out;
                }

                .products-location {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    transition: all 0.6s ease-out;
                }
            }
        }

        #grid-1 {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: 3;
            grid-column-end: 2;
        }

        #grid-2 {
            grid-row-start: 1;
            grid-column-start: 2;

            grid-row-end: 2;
            grid-column-end: 3;
        }

        #grid-3 {
            grid-row-start: 1;
            grid-column-start: 3;

            grid-row-end: 2;
            grid-column-end: 4;
        }

        #grid-4 {
            grid-row-start: 2;
            grid-column-start: 2;

            grid-row-end: 3;
            grid-column-end: 4;
        }

        .products-grid-item:hover {
            cursor: pointer;

            .products-desc {
                height: 100%;

                .products-name {
                    font-size: 40px;
                    line-height: 46px;
                }

                .products-location {
                    font-size: 27px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width:425px) {

    .products {
        margin: 0;
        padding: 0 20px 20px;

        .products-grid {
            display: flex;
            flex-direction: column;
            padding: 0;

            .products-grid-item {
                max-width: 100%;
                max-height: 400px;

                img {
                    border-radius: 20px;
                    max-width: 100%;
                    max-height: 276px;
                    object-fit: cover;
                }
            }

            #grid-4 {
                display: none;
            }
        }
    }
}

@media (min-width: 426px) and (max-width:768px) {

    .products {
        margin: 0;

        .products-grid {
            padding: 0 20px 50px;

            .products-grid-item {

                .products-desc {

                    .products-name {
                        font-size: 14px;
                    }

                    .products-location {
                        font-size: 12px;
                    }
                }
            }

            .products-grid-item:hover {
                cursor: pointer;

                .products-desc {
                    height: 100%;

                    .products-name {
                        font-size: 20px;
                        line-height: normal;
                    }

                    .products-location {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width:1440px) {
    .products {

        .products-grid {
            padding: 0 40px 20px;

            .products-grid-item:hover {

                .products-desc {
                    .products-name {
                        font-size: 30px;
                    }

                    .products-location {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}